##### death to .DS_Store ##########
.DS_Store
*.class
/InterestGroup_S/build/
/InterestGroup_S/manifest.mf
/InterestGroup_S/build.xml
InterestGroup_S/nbproject/private/

InterestGroup_C/nbproject/private/
/InterestGroup_C/build/
/InterestGroup_C/manifest.mf
/InterestGroup_C/build.xml

